body {
  background-color: #B1D0E0;
  margin: 0;
}

hr {
  border-color: #6998AB;
  border-style: dotted none none none;
  border-width: 5px;
  height: 1px;
}

h1 {
  color: #1A374D;
  margin-top: 0;
}

h3 {
  color: #1A374D;
}
.education {
  padding-left: 20px;
}

.work-experience {
  padding-left: 20px;
}

.skills {
  padding-left: 20px;
}

.programming-languages {
  padding-left: 20px;
}

.footer {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.header {
  /* padding-left: 10%; */
}
